@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;900&family=Roboto:wght@100;400&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body::-webkit-scrollbar {
  display: none;
}

.main {
  width: 1920px;
  height: 1080px;
}

nav {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1920px;
  height: 72px;
  padding: 0px 106px;
}

ul {
  list-style: none;
}

.lnav {
  height: 100%;
  width: 50%;
  display: flex;
  gap: 64px;
  align-items: center;
}

.rnav {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 64px;
}
.rnav li {
  cursor: pointer;
}

#logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  font-size: 38px;
  line-height: 45px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  background: linear-gradient(90.72deg, #0096ff 42.18%, #0048ff 93.77%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

#course,
#programs {
  border: none;
  cursor: pointer;
  width: 100%;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000000;
  margin-right: -55px;
}
button {
  cursor: pointer;
}
.btnlogin {
  border: none;
  background: none;
  width: 46px;
  height: 19px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000000;
}

.btnjoin {
  padding: 10px 42px;
  gap: 10px;
  border: none;
  width: 166px;
  height: 40px;
  background: linear-gradient(266.79deg, #0048ff 4.63%, #0096ff 100%);
  border-radius: 52px;
  color: #ffffff;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.content {
  background: url("../src/assets/BackGround.png");
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  height: 1008px;
  padding-top: 4%;
}
.ldiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 70%;
  height: 100%;
  padding-left: 144px;
}

.ldiv-content {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 70%;
}
.ldiv-heading {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 125%;
  color: #ffffff;
}

.rupee {
  font-family: "Roboto";
}
.striketxt {
  text-decoration: line-through;
  font-family: "Roboto";
  font-size: 64px;
  color: #ff0000;
}
.colortxt {
  font-family: "Roboto";
  color: #0096ff;
  font-size: 64px;
}
.ldiv-subcontent {
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  padding-top: 6%;
}
.txtcontent {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600 lighter;
  font-size: 32px;
  line-height: 100%;
  color: #ffffff;
}
.txtclr {
  color: #0096ff;
}
.rdiv {
  font-family: "Roboto";
  width: 30%;
  height: 882px;
  background: #ffffff;
  border-radius: 8px;
  margin-right: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
}

.topcircle {
  font-weight: 400;
  font-size: 16px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 32px;
  gap: 4px;
}
.imgcircle {
  width: 38px;
  height: 38px;
}

.subplans{
  height: 100%;
}

.subscriptionplan {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  text-align: center;
  width: 502px;
  height: 66px;
  border-radius: 4px;
  border: 2px solid #bebebe;
}

.subplans> div {
  margin-top: 16px;
}
input {
  width: 26px;
  height: 26px;
}
.first {
  display: flex;
  width: 50%;
}
.first > h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 190%;
}
.floattxt {
  position: absolute;
  width: 120px;
  height: 16px;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  margin: -18px 0px 0px 62px;
  background-color: #f77171;
  border-radius: 0px 0px 4px 4px;
}
.checkbox {
  width: 26px;
  height: 26px;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 2px solid #bebebe;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}
input[type="checkbox"]:checked + span:before {
  position: relative;
  content: url("https://img.icons8.com/material-outlined/24/ffffff/checkmark--v1.png");
  margin-left: -56px;
}
input[type="checkbox"]:checked {
  background-color: #47ba68;
}
input[type="checkbox"]:not(:checked) + span:after {
  content: url();
}

.second {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 50%;
  padding-right: 16px;
}
.second > p {
  font-weight: 600 lighter;
  font-size: 12px;
}

.subfee {
  border-top: 2px solid #bebebe;
  width: 502px;
  height: 180px;
}

.subfeecontent {
  display: flex;
  justify-content: space-between;
  padding: 18px 24px;
}
.limited {
  width: 502px;
  height: 76px;
  color: #de4313;
  background: linear-gradient(
    135deg,
    rgba(222, 67, 19, 0.2) 0%,
    rgba(222, 67, 19, 0.2) 0.75%,
    rgba(222, 67, 19, 0.2) 2.92%,
    rgba(222, 68, 20, 0.2) 6.37%,
    rgba(223, 69, 21, 0.2) 10.97%,
    rgba(223, 72, 22, 0.2) 16.59%,
    rgba(224, 75, 24, 0.2) 23.1%,
    rgba(225, 80, 27, 0.2) 30.37%,
    rgba(227, 86, 31, 0.2) 38.27%,
    rgba(229, 94, 36, 0.2) 46.66%,
    rgba(231, 104, 43, 0.2) 55.41%,
    rgba(235, 117, 51, 0.2) 64.39%,
    rgba(238, 132, 60, 0.2) 73.47%,
    rgba(243, 149, 71, 0.2) 82.52%,
    rgba(248, 169, 84, 0.2) 91.41%,
    rgba(254, 193, 99, 0.2) 100%
  );
  border-radius: 8px;
  border: 2px solid #de4313;
  display: flex;
  justify-content: space-between;
}
.limitedleft {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 10px;
  padding: 14px 0px 14px 24px;
}
.limitedright {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  padding: 16px 24px 44px 0px;
}

.btn {
  display: flex;
  width: 502px;
  justify-content: space-between;
}

.btncancel {
  padding: 10px 42px;
  width: 242px;
  height: 56px;
  border-radius: 4px;
  font-weight: 700;
font-size: 16px;
line-height: 19px;
border: 2px solid #F77171;
color: #F77171;
}
.btnproceed {
  padding: 10px 42px;
  width: 242px;
  height: 56px;
  background: #47ba68;
  border-radius: 4px;
  font-weight: 700;
font-size: 16px;
line-height: 19px;
color: #FFFFFF;
border: none;
}

.razor{
  position: relative;
  margin-right: 70%;
  padding: 0px 0px 32px 24px;

}
